[user]
	name = Michael Henderson
	email = mvhenderson@tds.net

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[color]
	ui = auto

[diff]
	tool = vimdiff
	guitool = sourcetree

[difftool]
	prompt = false

[merge]
	tool = sourcetree
	conflictstyle = diff3
	log = true

[mergetool]
	prompt = false
	keepBackup = false
	
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true

[push]
	default = simple
